.hero
  color: #fff
  display: flex
  min-height: 100vh
  text-align: center
  align-items: center
  justify-content: center
  background-color: #2979ff
  font-family: "Roboto Mono", Arial, sans-serif
  &__title
    font-size: 60px
    font-weight: 700

  &__subtitle
    font-size: 32px
    font-weight: 300
