.hero
  color: $white
  display: flex
  min-height: 100vh
  text-align: center
  align-items: center
  justify-content: center
  font-family: "RobotoMono"
  background-color: $primary

  +has(title)
    font-weight: 700
    font-size: rem(60px)

  +has(subtitle)
    font-weight: 300
    font-size: rem(32px)
