.hero
  color: #fff
  display: flex
  min-height: 100vh
  text-align: center
  align-items: center
  justify-content: center
  font-family: "RobotoMono"
  background-color: #2979ff

  +has(title)
    font-size: 60px
    font-weight: 700

  +has(subtitle)
    font-size: 32px
    font-weight: 300
