/// Clear contain floats
.clearfix::before,
.clearfix::after
  content: ""
  display: table

.clearfix::after
  clear: both

/// Hide visually and from screen readers
.hidden
  display: none !important
