$color-primary: #3085d6;
$color-secondary: #42a35a;
$color-default: #3085d6;
$color-info: #4a4d50;
$color-danger: #ca3838;
$color-warning: #f6b83f;
$color-success: #58c026;

$black: #000
$white: #fff
