.section
  padding: 32px 0

  +has(title)
    font-weight: 600
    text-align: center
    font-size: rem(32px)
    margin-bottom: 16px

  +has(subtitle)
    display: block
    font-weight: 100
    text-align: center
    font-size: rem(24px)

  +has(underline)
    width: 200px
    height: 2px
    display: block
    margin: 24px auto

  +has(body)
    padding: 32px 0

  +variant(dark)
    background-color: $primary_black

    +has(title)
      color: $primary_white

    +has(underline)
      background-color: $primary_dark

    +has(subtitle)
      color: $primary_white

  +variant(light)
    background-color: $primary_white

    +has(title)
      color: $primary_black

    +has(underline)
      background-color: $primary_light

    +has(subtitle)
      color: $primary_black
